@page "/BattlePage"
@using Managers;
@using Interfaces;
@using MudBlazor;
@inject IUserInterface userInterface;
@inject IMarine HumanPlayer;

<h3>BattlePage</h3>

<MudStack>
	<MudPaper Class="pa-3">
		<MudButton Variant="Variant.Filled" Color="Color.Primary">Fire</MudButton>
	</MudPaper>
	<MudPaper Class="pa-3">
		<MudButton Variant="Variant.Filled" Color="Color.Primary">Move</MudButton>
	</MudPaper>
	<MudPaper Class="pa-3">
		<MudButton Variant="Variant.Filled" Color="Color.Primary">Status</MudButton>
	</MudPaper>
</MudStack>

@code {

	public Random RandomNumberSeed = new Random();
	MarineManager ComputerPlayer = new MarineManager();
	public StatsManager ComputerStats = new StatsManager();
	
}
