@page "/CharacterPreview"
@using Managers;
@using Interfaces;
@using MudBlazor;
@inject IUserInterface userInterface;
@inject IMarine HumanPlayer;

<h3>This is fine, right?</h3>
<h3>@HumanPlayer.PrimaryStats.Strength</h3>

@code {

}
